// {
//     "presets": [
//         "react-native"
//     ],
//     "plugins": [
//         "syntax-decorators",
//         "transform-decorators-legacy"
//     ]
// }
{
    "presets": [
        "module:metro-react-native-babel-preset"
    ],
    "plugins": [
        ["@babel/plugin-proposal-decorators",{"legacy": true}],
        ["@babel/transform-runtime",{"helpers": true,"regenerator": false}]
    ]
}